// HTMLに残るコメント
//- HTMLに残らないコメント

//- タグと(の前に半スペを入れてはダメ。エラーが出てしまう（変数やテキストを入れるときに半スペを空けるみたい）

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
  body
    h1 新規登録
    // encType="multipart/form-data" 画像送信用のform形式
    form(action="signin" method="POST" encType="multipart/form-data")
      input(type="text" name="username" placeholder="名前")
      input(type="password" name="password" placeholder="パスワード")
      input(type="file" name="avatar")
      button(type="submit") 送信
