// HTMLに残るコメント
//- HTMLに残らないコメント

//- タグと(の前に半スペを入れてはダメ。エラーが出てしまう（変数やテキストを入れるときに半スペを空けるみたい）

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
  body
    h1 メッセージを保存
    //- 属性値 encType="multipart/form-data" をつけることで ミドルウェア express-fileuploadを使って画像データなどのバイナリデータを送信することができるようになる。｜app.js内で書かれている req.files.imageに格納される
    form(action="update" method="POST" encType="multipart/form-data")
      //- 投稿を行う際にセッションに保存したユーザー名を使用するため、以下の名前を入力する欄は不要となる。
      //- input(type="text" name="username" placeholder="名前")
      textarea(placeholder="メッセージ" name="message")
      input(type="file" name="image")
      button(type="submit") 送信
